.MoviesOrTv {
    display: flex;
    /* grid-column: center; */
    justify-content: space-around;
    padding: 10rem 0;
}
.MoviesOrTv  .btn {
    padding: 1rem 10rem;
    font-weight: 500; font-size: 1.9rem;
    letter-spacing: .25rem;
    color: #ddd;
    border: 2px solid #999;
    background: #1b242f;
}
.MoviesOrTv .btn:hover {
    background: #1b242f;
    border-color: #999 !important;
}
.MoviesOrTv  .btn:focus {
    box-shadow: none !important;
    padding: 1rem 10rem;
}
.MoviesOrTv .btn-selected {
    border: 2px solid #b31b20;
}
.MoviesOrTv  .btn-selected:hover {
    border-color: #ed1c24 !important;
    background-color: #1b242f !important;
}