#discover-item {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#discover-item .discover-header h1 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  letter-spacing: 0.25rem;
  position: relative;
  display: flex;
}
#discover-item .discover-header h1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  background: #fff;
  height: 2px;
  width: 25rem;
}
#discover-item .discover-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5rem;
  margin: 10rem 0;
}
#discover-item .discover-content .discover-content-item {
  border: 2px solid #252934;
  height: 24.5rem;
  width: 15rem !important;
  background-color: #252934;
  position: relative;
}
#discover-item .discover-content .discover-content-item a {
  width: 100%;
  height: 21.2rem;
  position: absolute;
  top: 0;
}
#discover-item .discover-content .discover-content-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: all 0.25s linear;
}
#discover-item .discover-content .discover-content-item a img:hover {
  opacity: 1;
}
#discover-item
  .discover-content
  .discover-content-item
  .discover-content-item-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.75rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
#discover-item
  .discover-content
  .discover-content-item
  .discover-content-item-footer
  p {
  margin-bottom: 0;
  color: #ddd;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#discover-item
  .discover-content
  .discover-content-item
  .discover-content-item-footer
  p
  span {
  display: flex;
  align-items: center;
}
#discover-item
  .discover-content
  .discover-content-item
  .discover-content-item-footer
  p
  span.HiClock
  svg {
  color: var(--main-red);
  margin-right: 0.3rem;
  opacity: 0.65;
  margin-top: 0.3rem;
}
#discover-item
  .discover-content
  .discover-content-item
  .discover-content-item-footer
  p
  span.IoIosStar
  svg {
  color: gold;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
}

/* MEDIA QUERIES */
/* Extra small  */
@media (max-width: 575.98px) {
  #discover-item {
    margin-top: 10rem;
  }
  #discover-item .discover-header {
    padding: 0 3rem;
    text-align: center;
  }
  #discover-item .discover-header h1 {
    font-size: 3rem;
  }
  #discover-item .discover-content {
    padding: 0 3rem;
    margin-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small  */
@media (min-width: 576px) and (max-width: 767.98px) {
  #discover-item {
    padding: 0;
    margin-top: 10rem;
  }
  #discover-item .discover-content {
    margin-top: 5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Medium  */
@media (min-width: 768px) and (max-width: 991.98px) {
  #discover-item .discover-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #discover-item .discover-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra large  */
@media (min-width: 1200px) {
  #discover-item .discover-content {
    grid-template-columns: repeat(5, 1fr);
  }
}
