#discover { margin-top: 6rem;
    display: grid;
    /* grid-template-rows: 60rem 55rem 90rem; */
    grid-template-columns: repeat(8, 1fr);
    
}



/* DISCOVER TRENDS */
#discover .discover-trends { overflow: hidden;
    grid-row: 1 / 2;
    grid-column: 1 / 9;

    display: grid;
    grid-template-columns: 1fr 1fr; 
}


#discover .discover-trends .discover-trends-movies,
#discover .discover-trends .discover-trends-tv { overflow: hidden;
    position: relative;
    width: 100%; height: 100%; 
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-main_container,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-main_container {
    position: relative; width: 100%; height: 100%;
    display: flex; flex-direction: column; justify-content: center; align-content: center;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-main_container .discover-trends-movies-container-item,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-main_container .discover-trends-tv-container-item {
    width: 100% !important; height: 100% !important; position: relative;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-header,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-header {
    z-index: 999; color: #fff;
    font-size: 1.75rem; margin-left: auto;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-header span:first-child,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-header span:first-child {
    position: absolute; top: 2rem; left: 2rem;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-header span:nth-child(2),
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-header span:nth-child(2) {
    position: absolute; top: 2rem; right: 2rem;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-header span:nth-child(2) a,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-header span:nth-child(2) a {
    color: #fff; transition: all .25s linear;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-header span:nth-child(2) a:hover,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-header span:nth-child(2) a:hover {
    text-decoration: none;
    color: var(--main-red);
}
.discover-trends-movies-container-content,
.discover-trends-tv-container-content {
    width: 100%; height: 100%;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item img:first-child,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item img:first-child {
    top: 0; left: 0;
    object-fit: cover;
    height: 100%; width: 100%; opacity: .5;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content {
    position: absolute;top: 50%; left: 50%; z-index: 999;
    transform: translate(-50%, -50%);
    border: 2px solid #252934;
    height: 24.5rem;
    width: 15rem !important;
    background-color: #252934;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content a,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content a {
    width: 100%;  height: 21.2rem;
    position: absolute;
    top: 0;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content a img,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content a img {
    width: 100%;  height: 100%;
    background-size: cover;
    opacity: 1;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content .discover-trends-movies-item-footer,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content .discover-trends-tv-item-footer {
    position: absolute;
    bottom: 0; width: 100%;
    font-size: 1.75rem; font-weight: 500;
    display: flex; justify-content: center; align-items: center;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content .discover-trends-movies-item-footer p,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content .discover-trends-tv-item-footer p {
    margin-bottom: 0; color: #ddd; width: 100%;
    display: flex; justify-content: space-around; align-items: center;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content .discover-trends-movies-item-footer p span.HiClock svg,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content .discover-trends-tv-item-footer p span.HiClock svg {
    color: var(--main-red); 
    opacity: .64;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content .discover-trends-movies-item-footer p span.IoIosStar svg,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content .discover-trends-tv-item-footer p span.IoIosStar svg {
    color: gold;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .slick-slide,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .slick-slide {
    width: 100% !important; position: relative;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .slick-slider,
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .slick-list,
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .slick-track, 
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .slick-slide > div,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .slick-slider,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .slick-list,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .slick-track, 
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .slick-slide > div {
    width: 100%; height: 100%;
}
#discover .discover-trends .discover-trends-movies .slick-track,
#discover .discover-trends .discover-trends-tv .slick-track {
    display: flex !important; margin: 0 !important;
    align-items: center; justify-content: center;
    position: relative; 
}
#discover .discover-trends .discover-trends-movies .slick-prev,
#discover .discover-trends .discover-trends-tv .slick-prev {
    left: 5% !important; z-index: 1;
    top: 40% !important; 
}
#discover .discover-trends .discover-trends-movies .slick-next,
#discover .discover-trends .discover-trends-tv .slick-next {
    right: 8% !important; z-index: 1;
    top: 40% !important; transform:
}
#discover .discover-trends .discover-trends-movies .slick-prev::before,
#discover .discover-trends .discover-trends-tv .slick-prev::before {
    content: '❮' !important;
    color: #fff !important;
    opacity: 1 !important;
    font-size: 5rem !important;
    transition: all .25s linear;
}
#discover .discover-trends .discover-trends-movies .slick-next::before,
#discover .discover-trends .discover-trends-tv .slick-next::before {
    content: '❯' !important;
    color: #fff !important;
    opacity: 1 !important;
    font-size: 5rem !important;
    transition: all .25s linear;
}
#discover .discover-trends .discover-trends-movies .slick-prev:hover::before,
#discover .discover-trends .discover-trends-movies .slick-next:hover::before,
#discover .discover-trends .discover-trends-tv .slick-prev:hover::before,
#discover .discover-trends .discover-trends-tv .slick-next:hover::before {
    cursor: pointer;
    color: var(--main-red) !important;
}
#discover .discover-trends .discover-trends-movies .slick-arrow,
#discover .discover-trends .discover-trends-tv .slick-arrow {
    font-size: 0 !important;
    width: 0 !important; height: 0 !important;
}


/* DISCOVER ALL */
#discover .discover-all {
    grid-row: 2 / 3;
    grid-column: 1 / 9;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center; align-items: center;
}
#discover .discover-all .discover-all-item {
    position: relative; color: #fff;
    height: 100%; width: 100%; overflow: hidden;
}
#discover .discover-all .discover-all-item img {
    height: 100%; width: 100%;
    opacity: .65; object-fit: cover;
    transform: scale(1);
    transition: transform .9s linear; 
}
#discover .discover-all .discover-all-item:hover img {
    transform: scale(1.1); 
}
#discover .discover-all .discover-all-item > div {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); width: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content .discover-trends-movies-item-footer p span,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content .discover-trends-tv-item-footer p span {
    display: flex; align-items: center;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content .discover-trends-movies-item-footer p span svg,
#discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content .discover-trends-tv-item-footer p span svg {
    margin-right: .5rem;
}
#discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content .discover-trends-movies-item-footer p span.HiClock svg {
    margin-top: .2rem;
}
#discover .discover-all .discover-all-item > div svg {
    font-size: 5rem;
}
#discover .discover-all .discover-all-item > div span {
    font-size: 2rem; font-weight: 500;
}




/* DISCOVER TV TRENDING TODAY */
#discover .discover-tvtrending {
    grid-row: 3 / 4;
    grid-column: 1 / 9;

    display: flex; justify-content: center; align-items: center;
    position: relative;
    width: 100%; height: 100%; overflow: hidden;
}
#discover .discover-tvtrending .discover-tvtrending-container-content {
    width: 100%; height: 100%; 
}
#discover .discover-tvtrending .discover-tvtrending-main_container {
    position: relative; width: 100%; height: 100%;
    display: flex; flex-direction: column; justify-content: center; align-content: center;
}
#discover .discover-tvtrending .discover-tvtrending-main_container .discover-tvtrending-container-item  {
    width: 100% !important; height: 100% !important; position: relative;
}
#discover .discover-tvtrending .discover-tvtrending-container-header  {
    z-index: 999; color: #fff;
    font-size: 1.75rem; margin-left: auto;
}
#discover .discover-tvtrending .discover-tvtrending-container-header span:first-child {
    position: absolute; top: 2rem; left: 2rem;
}
#discover .discover-tvtrending .discover-tvtrending-container-header span:nth-child(2) {
    position: absolute; top: 2rem; right: 2rem;
}
#discover .discover-tvtrending .discover-tvtrending-container-header span:nth-child(2) a {
    color: #fff; transition: all .25s linear;
}
#discover .discover-tvtrending .discover-tvtrending-container-header span:nth-child(2) a:hover {
    color: var(--main-red); text-decoration: none;
}
#discover .discover-tvtrending .discover-tvtrending-container-item > img {
    width: 100%; height: 100%;
    object-fit: cover;
    opacity: .65; 
}



#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content {
    position: absolute;top: 50%; left: 50%; z-index: 999;
    transform: translate(-50%, -50%);
    display: flex; align-items: center;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item {
    width: min(15rem, 25rem);
    height: 24.5rem;
    border: 2px solid #252934; background-color: #252934;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item-description {
    margin-left: 5rem; max-width: 40rem;
    display: flex; justify-content: space-between; flex-direction: column;
    color: #fff; z-index: 99;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item-description span:first-child {
    font-size: 4rem; font-weight: 500;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item-description span:nth-child(2) {
    font-size: 1.75rem;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item a img {
    width: 100%;
    height: 21.2rem; 
    background-size: cover;
    opacity: 1;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item .discover-tvtrending-item-footer {
    width: 100%;
    font-size: 1.75rem; font-weight: 500;
    display: flex; justify-content: center; align-items: center;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item .discover-tvtrending-item-footer p {
    margin-bottom: 0; color: #ddd; width: 100%;
    display: flex; justify-content: space-around; align-items: center;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item .discover-tvtrending-item-footer p span {
    display: flex; align-items: center; 
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item .discover-tvtrending-item-footer p span.HiClock svg {
    color: var(--main-red); 
    opacity: .65; margin-right: .5rem; margin-top: .2rem;
}
#discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item .discover-tvtrending-item-footer p span.IoIosStar svg {
    color: gold; margin-right: .5rem;
}



#discover .discover-tvtrending .discover-tvtrending-main_container .discover-tvtrending-container-content .slick-slide {
    position: relative;
}
#discover .discover-tvtrending .discover-tvtrending-main_container .slick-slider,
#discover .discover-tvtrending .discover-tvtrending-main_container .slick-list,
#discover .discover-tvtrending .discover-tvtrending-main_container .slick-track, 
#discover .discover-tvtrending .discover-tvtrending-main_container .slick-slide > div {
    width: 100%; height: 100%;
}
#discover .discover-tvtrending .slick-track {
    position: relative; 
}
#discover .discover-tvtrending .slick-prev {
    left: 5% !important; z-index: 1;
    top: 45% !important; transform: translateY(-50%);
}
#discover .discover-tvtrending .slick-next  {
    right: 5% !important; z-index: 1;
    top: 45% !important; transform: translateY(-50%);
}
#discover .discover-tvtrending .slick-prev::before {
    content: '❮' !important;
    color: #fff !important;
    opacity: 1 !important;
    font-size: 5rem !important;
    transition: all .25s linear;
}
#discover .discover-tvtrending .slick-next::before {
    content: '❯' !important;
    color: #fff !important;
    opacity: 1 !important;
    font-size: 5rem !important;
    transition: all .25s linear;
}
#discover .discover-tvtrending .slick-prev:hover::before,
#discover .discover-tvtrending .slick-next:hover::before {
    cursor: pointer;
    color: var(--main-red) !important;
}
#discover .discover-tvtrending .slick-arrow {
    font-size: 0 !important;
    width: 0 !important; height: 0 !important;
}




/* MEDIA QUERIES */
/* Extra small  */
@media (max-width: 575.98px) {
    #discover {
        grid-template-rows: 60rem 55rem 35rem;
    }
    #discover .discover-trends {
        grid-template-columns: auto;
    }
    #discover .discover-trends .discover-trends-movies .discover-trends-movies-container-header,
    #discover .discover-trends .discover-trends-tv .discover-trends-tv-container-header {
        font-size: 1.5rem;
    }
    #discover .discover-trends .discover-trends-movies .discover-trends-movies-container-content .discover-trends-movies-container-item .discover-trends-movies-container-item-content,
    #discover .discover-trends .discover-trends-tv .discover-trends-tv-container-content .discover-trends-tv-container-item .discover-trends-tv-container-item-content {
        transform: scale(.7);
        top: 10%; left: 32.5%;
    }

    #discover .discover-all {
        grid-template-columns: repeat(2, 1fr);
    }
    #discover .discover-all .discover-all-item > div span {
        font-size: 1.75rem;
    }

    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content {
        transform: scale(.7); left: -4.5%; top: 20%;
        width: 50rem;
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item .discover-tvtrending-item-footer p {
        display: flex; align-items: center;
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item-description {
        margin-left: 2rem; max-width: 30rem;
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item {
        /* width: calc(15rem - 4px); */
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item-description span:first-child {
        font-size: 2.5rem;
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item-description span:nth-child(2) {
        font-size: 1.75rem;
    }
    #discover .discover-tvtrending .slick-prev {
        left: 5% !important;
    }
    #discover .discover-tvtrending .slick-next  {
        right: 10% !important;
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item .discover-tvtrending-item-footer p span.IoIosStar svg {
        margin-top: .1rem;
    }
}

/* Small  */
@media (min-width: 576px) and (max-width: 767.98px) {
    #discover .discover-trends {
        grid-template-columns: auto;
    }
    #discover .discover-all {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content {
        width: 60rem;
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item a img {
        /* width: calc(15rem - 4px); */
    }
}

 /* Medium  */
@media (min-width: 768px) and (max-width: 991.98px) {
    #discover .discover-trends {
        grid-template-columns: auto;
    }
    #discover .discover-all {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content {
        width: 60rem;
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item a img {
        /* width: calc(15rem - 4px); */
    }
}

/* Large  */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content {
        width: 60rem;
    }
    #discover .discover-tvtrending .discover-tvtrending-container-item .discover-tvtrending-container-item-content .discover-tvtrending-container-item-content-item a img {
        /* width: calc(15rem - 4px); */
    }
}

/* Extra large  */
@media (min-width: 1200px) { 
    
}